* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button, a {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  max-width: 1700px;
  margin: 0 auto;
  width: 96%;
}
.header .header__logo {
  display: flex;
  align-items: center;
}
.header .header__logo::after {
  content: "";
  width: 1px;
  height: 90px;
  margin-left: 35px;
  background: #E5E5E5;
}
.header .header__logo-img {
  border-radius: 50px;
  padding: 11px 14px 11px 16px;
  background: #999;
  margin-right: 15px;
}
.header .nav {
  padding-left: 35px;
}
.header .nav .menu {
  display: flex;
}
.header .nav .menu__link:not(:last-child) {
  margin-right: 30px;
}
.header .nav .menu__item {
  font-size: 16px;
  color: #999;
  font-family: Gilroy;
  font-weight: 600;
  letter-spacing: 0.16px;
}
.header__contacts {
  display: flex;
  align-items: center;
  height: 100%;
}
.header__contacts-location {
  font-size: 15px;
  color: #999;
  font-weight: 600;
  letter-spacing: 0.15px;
  margin-right: 25px;
}
.header__contacts-location::before {
  content: "";
  background: url("../img/icon/navbar/location.svg") no-repeat left;
  padding: 15px;
}
.header__contacts-tel {
  display: flex;
  align-items: center;
  border-left: 1px solid #E5E5E5;
  height: 100%;
  padding-left: 35px;
}
.header__contacts-tel::before {
  content: "";
  background: url("../img/icon/navbar/tel.svg") no-repeat left;
  padding: 15px;
}
.header__contacts-link {
  font-size: 15px;
  color: #999;
  font-weight: 600;
}